.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/s03p22a509.iml
.idea/vcs.xml
.idea/workspace.xml
AI/Voice/_config.yml
frontend/package-lock.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.pyc